/* styles.css */

body {
    background: linear-gradient(to bottom right, #66ccff, #0066cc, #003366);
    background-color: green;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #152e72;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 20vh;
    box-shadow: 5px 5px 10px black;

}

.title {
    background-color: #152e72;
    text-align: center;
    margin: auto;
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;

}

#img-garms {
    height: 100px;
    position: absolute;
    left: 1%;
    top: 2%;
    

}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
    margin-top: 8vh;
    padding: 8px;
}

h2 {
    color: white;
}

input {
    display: block;
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px; 
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0e2052;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0271e7; 
    transition: .5s;
}

li{
    list-style-type: none;
}

.lista-banco {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(19, 41, 92);
    max-width: 600px;
    border-radius: 20px;
    margin-bottom: 10vh;
    box-shadow: 5px 5px 10px black;
    
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #007BFF;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  td {
    color: #007BFF;
  }
  
  td:last-child {
    text-align: center;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #007BFF;
  }
  